<?php
/**
 * Theme functions file, which is auto-loaded by WordPress. Use this file to
 * load additional PHP files and bootstrap the theme.
 *
 * @author    {{author}}
 * @copyright Copyright (c) 2023, {{author}}
 * @link      {{authorURI}}
 * @license   {{licenseURI}}
 */
 