<?php
/**
 * Theme functions file, which is auto-loaded by WordPress. Use this file to
 * load additional PHP files and bootstrap the theme.
 *
{{#authorName}}
 * @author    {{authorName}}
	{{#currentYear}}
 * @copyright Copyright (c) {{currentYear}}, {{authorName}}
	{{/currentYear}}
{{/authorName}}
{{#themeURI}}
 * @link      {{{themeURI}}}
{{/themeURI}}
{{#licenseURI}}
 * @license   {{{licenseURI}}}
{{/licenseURI}}
 */


