/*!
 * Theme Name:        {{themeName}}
{{#themeURI}}
 * Theme URI:         {{{themeURI}}}
{{/themeURI}}
{{#description}}
 * Description:       {{description}}
{{/description}}
{{#version}}
 * Version:           {{version}}
{{/version}}
{{#authorName}}
 * Author:            {{authorName}}
{{/authorName}}
{{#authorURI}}
 * Author URI:        {{{authorURI}}}
{{/authorURI}}
{{#childOf}}
 * Template:            {{childOf}}
{{/childOf}}
{{#tags}}
 * Tags:              {{tags}}
{{/tags}}
 * Text Domain:       {{slug}}
{{#domainPath}}
 * Domain Path:       {{{domainPath}}}
{{/domainPath}}
{{#testedUpTo}}
 * Tested up to:      {{testedUpTo}}
{{/testedUpTo}}
{{#requiresAtLeast}}
 * Requires at least: {{requiresAtLeast}}
{{/requiresAtLeast}}
{{#requiresPHP}}
 * Requires PHP:      {{requiresPHP}}
{{/requiresPHP}}
{{#license}}
 * License:           {{license}}
{{/license}}
{{#licenseURI}}
 * License URI:       {{{licenseURI}}}
{{/licenseURI}}
 */
