/*!
 * Theme Name:        {{title}}
 * Theme URI:         {{themeURI}}
 * Description:       {{description}}
 * Version:           {{version}}
 * Author:            {{authorName}}
 * Author URI:        {{authorURI}}
 * Tags:              full-site-editing
 * Text Domain:       {{textdomain}}
 * Domain Path:       {{domainPath}}
 * Tested up to:      6.4
 * Requires at least: 6.4
 * Requires PHP:      7.4
 * License:           {{license}}
 * License URI:       {{licenseURI}}
 */
