/*!
 * Theme Name:        {{themeName}}
 * Theme URI:         {{themeURI}}
 * Description:       {{description}}
 * Version:           {{version}}
 * Author:            {{authorName}}
 * Author URI:        {{authorURI}}
 * Tags:              {{tags}}
 * Text Domain:       {{slug}}
 * Domain Path:       {{domainPath}}
 * Tested up to:      {{testedUpTo}}
 * Requires at least: {{requiresAtLeast}}
 * Requires PHP:      {{requirePHP}}
 * License:           {{license}}
 * License URI:       {{licenseURI}}
 */
